/* .Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.Toolbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Toolbar a {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
.Toolbar a:hover {
  color: rgb(241, 223, 175);
}

@media (max-width: 620px) {
  .Toolbar ul {
    display: none;
  }
} */
