.Drawer .content {
  padding: 1rem 0;
  background-color: rgb(201, 200, 200);
  color: rgb(35, 21, 4);
  font-size: 27px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 260px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(-300px);
  transition: transform 0.3s;
}
.Drawer .backdrop {
  background-color: rgba(114, 114, 114, 0.3);
 
  display: none;
}
.open .backdrop {
  display: block;
}
.open .content {
  transform: translateX(0);
}

@media (min-width: 620px) {
  .Drawer .backdrop {
    display: none;
  }
  .Drawer .content {
    transform: translateX(-300px);
  }
}
