.NavItem a {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
  .NavItem .active {
   color: rgb(66, 35, 8);
  }
  .NavItem .hover {
   background-color: black;
  }

  .NavItem a:hover {
    background-color: transparent;
  } 
  
  @media (max-width: 620px) {
    .NavItem a {
      border-bottom: none;
      border-right: 5px solid transparent;
    }
  }