.NavItem a {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: black;
}

.NavItem .active {
  color: rgb(240, 139, 50);
}
.NavItem a:hover {
  color: rgb(244, 177, 119);
}
@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}
