.Homeart {
display: flex;
justify-content: space-between;
flex-direction: row;
background-color: rgb(233, 227, 218);
}
.container {
    margin-top: 100px;
    margin-left: 200px;
    width: 500px;
    height: 600px;
}
.Homeart .brings {
    width: 30%;
    height: 30%;
    position: relative;
  

    margin-right: 200px;
    margin-left: -100px;
    margin-top: 50px;
}
.Homeart .moodboard {
    width: 30%;
    height: 60%;
    position: absolute;
   
    left: 10;
    bottom: 15; 
    top: 15;
   
    margin-right: 200px;
    margin-left: 400px;
    margin-top: 300px;
}
.CartButton {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;  
  z-index: 10;
  border: 0.1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem;

}

.CartButton:after {
  content: "";
  background-color: rgb(226, 166, 83);
  width: 100%;
  z-index: -10;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.CartButton:hover:after {
  top: 0px;
  left: 0px;
}




  
  /* @media (max-width: 1070px) {
    .container {
      margin: 0 50px 50px;
    }
    .firstSection {
      flex-direction: column-reverse;
      align-content: center;
    }
    .container h1 {
      font-size: 1.6rem;
    }
    .aboutCollage {
      margin-left: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
    }
    .secondSection .fork {
      width: 100%;
      max-width: 150px;
      top: -190px;
    }
    .secondSection .buffet {
      width: 100%;
      max-width: 280px;
    }
    .firstSection div {
      margin-top: 10px;
    }
    .firstSection p:first-child {
      margin-bottom: 20px;
    }
    .aboutSection p {
      text-align: center;
      font-size: 15px;
    }
    .secondSection p {
      color: white;
      margin-left: 0;
    }
    .darkBg {
      padding: 130px 0;
    }
    .thirdSection {
      margin-top: 100px;
    }
    .secondSection h1 {
      margin-left: 140px;
    }
  } */