.Nav {
    background-color: rgb(158, 93, 47);
    color: rgb(255, 255, 255);
    padding: 0 1rem
  }
  .Nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .Nav a {
    display: block;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .Nav a:hover {
    background-color: rgba(237, 214, 154, 0.637);
    color: rgb(241, 223, 175);
  }

  @media (max-width: 700px) {
    .Nav ul {
      display: none;
    }
  }