.Nav {
  display: flex;
  height: 0;
  justify-content: space-between;
  max-width: 200vw;
}
.Nav .List {
  padding: 1rem;
  list-style: none;
  width: 300px;

}
.Nav .IconRow {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 1rem;
}
.Nav .icons {
  padding: 1rem 0;
}
.Nav .Logo {
  width: 200px;
  height: 60px;
  padding-top: 20px;
  padding-right: 50px;
}
.Nav .icons li:hover {
  color: rgb(241, 223, 175);
}
.Nav a {
  text-decoration: none;
  font-size: 20px;
}
.Nav .searchIcon {
  width: 15px;
  padding: 0.7rem;
}
.Nav .shoppingcartIcon {
  width: 14px;
  padding: 0.7rem;
}
.Nav .accountIcon {
  width: 14px;
  padding: 0.7rem;
}

@media (max-width: 900px) {
  .Nav {
    flex-direction: column;
    justify-content: center;
  }
  .Nav .Logo {
    text-align: center;
  }
}
