.Nav {
  display: flex;
  flex-flow: column wrap;
  height: 0px;
  max-width: 200vw;
}
.Nav .List {
  padding: 1rem;
  list-style: none;
  width: 300px;
  height: 100px;
}
.Nav .List li {
  margin-bottom: 20px;
}
.Nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b1c2c;
  width: 20px;
  height: 20px;
}
.Nav .Logo {
  width: 200px;
  height: 60px;
  padding-top: 20px;
  padding-left: 55px;
}
.Nav .icons:active {
  color: rgb(241, 223, 175);
}

.Nav a {
  text-decoration: none;
  font-size: 20px;
}
.Nav .searchIcon {
  width: 15px;
  padding: 0.7rem;
}
.Nav .shoppingcartIcon {
  width: 14px;
  padding: 0.7rem;
}
.Nav .accountIcon {
  width: 14px;
  padding: 0.7rem;
}

@media (max-width: 900px) {
  .Nav {
    flex-direction: column;
    justify-content: center;
  }
  .Nav .logo {
    order: -1;
  }
}
